main {
    display: grid;
    grid-template-areas: 
        "article-cell article-cell article-cell aside-cell"
    ;
    column-gap: 20px;
}

article {
    grid-area: article-cell;
}

aside {
    grid-area: aside-cell;
}

.bg-home {
    width: 100%;
}
