main {
    display: grid;
    grid-template-areas: 
        "aside-cell article-cell article-cell article-cell"
    ;
    column-gap: 20px;
}

article {
    grid-area: article-cell;
}

aside {
    grid-area: aside-cell;
}

.news-img {
    width: 100%;
}

.news-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.news-content img{
    width: 30%;
    height: auto;
}

.grand-opening-img{
    width: 100%;
}
